<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Index of example pages:</h1>
        <ul>
            <li><a href="/simple_checkout">/simple_checkout</a> via Snap</li>
        </ul>
        <h4>Advanced usage:</h4>
        <ul>
            <li><a href="/simple_core_api_checkout">/simple_core_api_checkout</a> via Core Api - Credit Card</li>
            <li><a href="/simple_core_api_checkout_permata">/simple_core_api_checkout_permata</a> via Core Api - Permata VA</li>
            <li><a href="/core_api_credit_card_frontend_sample">/core_api_credit_card_frontend_sample</a> Core Api - Credit Card to demonstrate how midtrans-new-3ds.min.js will be used</li>
        </ul>
    </body>
</html>