<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Index of example pages:</h1>
        <ul>
            <li><a href="/simple_checkout">/simple_checkout</a> via Snap</li>
            <li><a href="/simple_core_api_checkout">/simple_core_api_checkout</a> via Core Api</li>
        </ul>
    </body>
</html>